<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.libraryproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MemBarcode"></activity>
        <activity android:name=".Rent" />
        <activity android:name=".RentBook" />
        <activity android:name=".SearchBook" />
        <activity android:name=".MyPage" />
        <activity android:name=".WorkBook" />
        <activity android:name=".BoardUpdate" />
        <activity android:name=".FaqUpdate" />
        <activity android:name=".BoardRead" />
        <activity android:name=".BoardWrite" />
        <activity android:name=".BoardDTO" />
        <activity android:name=".Board" />
        <activity android:name=".FaqRead" />
        <activity android:name=".FaqWrite" />
        <activity android:name=".WorkFaq" />
        <activity android:name=".MemHopeBook" />
        <activity android:name=".HopeBook" />
        <activity android:name=".WorkReturn" />
        <activity android:name=".WorkRent" />
        <activity android:name=".WorkRentReturn" />
        <activity android:name=".InsertBook" />
        <activity android:name=".IdCard" />
        <activity android:name=".WorkMain" />
        <activity android:name=".Find" />
        <activity android:name=".MemMain" />
        <activity android:name=".Register" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.Main" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>